body{
    height: 100%;
    margin: 0;
    position:relative;
}

footer{
    width: 100%;
    position:fixed;
    margin-top:0px;
    padding-top:25px;
    text-align: center;
    font-size: 26px;
    color: black;
    font-weight: bold;
}

aside{
    top:100px;
    position: absolute;
    min-width:30px;
    background-color: cadetblue;
    min-height: 39px;
    color:white;
}
aside:hover{
    background-color: lightgreen;
    color:black;
}

footer:hover{
    color:lightgreen;
}
