.main{
    display: flex;
    margin-top:100px;
    width: 100%;
    justify-content: center;
}

.main__addEdit{
    display:none;
    grid-gap: 20px;
    margin-top:80px;
    padding:70px;
    border-radius: 4px;
    width: 100%;
}

.main__addEdit div{
    margin-bottom: 10px;
}

.popup{
    padding:10px;
    text-align: center;
    display: none;
    position: fixed;
    background-color: lightblue;
    border: 2px solid lightslategrey;
    border-radius: 4px;
}

.popup__name,.popup__year{
    margin: 10px;
}

.addEdit__file{
    display: none;
    justify-self: center;

}

.addEdit__back{
    justify-self: center;
    margin-top:50px;
}

.addEdit__submit__send{
    justify-self: center;
    display: none;
}

.addEdit__submit__change{
    justify-self: center;
    display: block;
}


.addEdit__line{
    min-width: 200px;
    justify-self: center;
    border-bottom:3px solid lavender;
    text-align: center;

}

.addEdit__submit{
    margin-left: auto;
    margin-right: auto;
}

.main__wrapper{
    padding-top:20px;
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    background-color: azure;
    border-radius: 10px;

}

.main__wrapper__filmline{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 150px;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}

.main__wrapper__filmline:last-of-type{
    margin-bottom: 100px;

}

.filmline__element{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.filmline__element__cover{

}

.filmline__element__name{
    display: block;
    justify-self: flex-end;
    margin-top:auto;
    margin-bottom: 0;
    color:cadetblue;
    font-weight: bold;
}

.filmline__element__year{
    display: block;
    justify-self: flex-end;
    margin-top:auto;
    margin-bottom: 0;
}

.filmline__element__buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-self: flex-end;
    margin-top:auto;
    margin-bottom: 0;
    min-width: 100%;
    min-height: 20px;
}

.buttons__edit{
    display: block;
    background: url("icons/edit.png") center center no-repeat;
    min-width: 24px;
    min-height: 24px;
    background-size: cover;
}

.buttons__edit:hover{
    background-color: slategrey;
    background-blend-mode: multiply;
}

.buttons__del:hover{
    background-color: slategrey;
    background-blend-mode: multiply;
}


.buttons__del{
    display: block;
    background: url("icons/delete.png") center center no-repeat;
    min-width: 24px;
    min-height: 24px;
    background-size: cover;
}

.filmline__element__cover{
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    /*background: url("../db/1.jpeg") no-repeat center center;*/
    background-size: cover;
}
