body{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: azure;
}


.wrapper{
    border: 1px solid lightslategrey;
    padding: 50px;
    border-radius: 5px;
    margin-top:50%;
    display: grid;
    grid-gap: 30px;
    justify-items: center;
    align-content: center;
    align-items: center;
}
