.header{
    width: 100%;
    left:0px;
    top:0px;
    display: flex;
    position:fixed;
    height: 100px;
    border-radius: 10px;
    background-color: lightblue;
}

.header__wrapper{
    align-self: center;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding:50px;
}

.header__wrapper__search{
    display: block;
    align-self: center;
    justify-self: flex-end;
}

.filter__container{
    align-self: center;
    display: block;
    justify-self: flex-start;
}
